html, body {
    margin: 0;
    padding: 4vw;
    background: hsl(235, 61%, 35%);
    color: rgb(170, 192, 250);
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
  }
  .frame {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pi5-canvas-class {
      /* background:black; */
  }
  .buttons {
    
    padding: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1b125b;
  }

  /* input[type=button], .custom-file-upload */

  button  {
      /* display: block; */
      background-color: #fc8282;
      border: 0px;
      font-size: 0.9em;
      text-transform: uppercase;
      padding: 0.4em 0.9em 0.4em 0.9em ;
      transition: background 200ms;
      margin: 1vw;

      color:rgb(34, 43, 142)
  }

  a {
    color: hsl(0, 95%, 75%);
    transition: color 300ms ease-in-out;
  }

  a:hover {
    color: hsl(160, 100%, 75%);
  }

  /* input[type="file"] {
    display: none;
} */

  button:hover {
      background-color: #7fffd4;
  }

  .buttonRadius {
    border-radius: 0.2em 0em 0em 0.2em;
  }

  .buttonRadiusFull {
    border-radius: 0.2em;
  }

  .overlay {
  background-color: #222b8e;
  color: #ffffff;
  }

  .number {
      color: #ffffff;
  }
  .emotionBox {
    width: 100%;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .predictions {
      display: inline;
      margin-left: 1em;
  }
  
  .minus {
    margin-left:-0.8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0em 0.2em 0.2em 0em;

    background: #7fffd4;
    color:rgb(27, 18, 91);
    transition: background 200ms;
}

.minus:hover {
    background: #222b8e; 
    color: #fc8282;
}

.gui {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infobox {
background-color: #0d063f ;
padding: 0.3em 1.2em 0.3em 1.2em;
position: relative;
bottom: -1em;
text-align: center;

}
#score {
color: #7fffd4;
font-size: 1.2em;
font-weight: 800;
text-transform: uppercase;
}
  canvas {
    /* overflow: scroll; */
    /* position: relative; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
  }
  

  .slidecontainer {
    width: 50%;
    text-align: center;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    border-radius: 3em;
    background: #1b125b;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 6vw;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 3em;
    width: 4em;
    height: 4em;
    box-shadow: #1b125b 2px 4px 3vw;
    background: #fc8282;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }

  input {
    background: transparent;
    border: none;
    color: white;
    font-size: 1em;
  }

  .result-box {
    padding: 3vw;
    background-color: #1b125b;
  }