:root {
  --bg-color: #fff07a;
  --dark-color: hsl(247, 67%, 21%);
  --primary-color: hsl(46, 100%, 50%);
  --highlight-color: hsl(44, 66%, 47%);
  --font-color: #af740d;
  --white: hsl(28, 100%, 23%);
}

html, body {
    margin: 0;
    padding: 4vw;
    background: var(--bg-color);
    color: var(--font-color);
    width: 92%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    position: relative;
  }
  .frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pi5-canvas-class {
      /* background:black; */
      position: fixed;
      margin: -8vw;
      top: 0px;
      z-index: 0px;
  }
  /* canvas {
    position: fixed;
    top: 0;
    z-index: 0;
  } */

  .main {
    position: absolute;
    z-index: 100px;
  }
  .buttons {
    
    padding: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--dark-color);
  }

  /* input[type=button], .custom-file-upload */

  button  {
      /* display: block; */
      background-color: var(--primary-color);
      border: 0px;
      font-size: 0.9em;
      text-transform: uppercase;
      padding: 0.4em 0.9em 0.4em 0.9em ;
      transition: background 200ms;
      margin: 1vw;

      color:var(--dark-color)
  }

  a {
    color: var(--primary-color);
    transition: color 300ms ease-in-out;
  }

  a:hover {
    color: var(--highlight-color);
  }

  /* input[type="file"] {
    display: none;
} */

  button:hover {
      background-color: var(--highlight-color);
  }

  .buttonRadius {
    border-radius: 0.2em 0em 0em 0.2em;
  }

  .buttonRadiusFull {
    border-radius: 0.2em;
  }

  .overlay {
  background-color: var(--dark-color);
  color: var(--white);
  }

  .number {
      color: var(--white);
  }
  .emotionBox {
    width: 100%;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .predictions {
      display: inline;
      margin-left: 1em;
  }
  
  .minus {
    margin-left:-0.8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0em 0.2em 0.2em 0em;

    background: var(--highlight-color);
    color:var(--bg-color);
    transition: background 200ms;
}

.minus:hover {
    background: var(--dark-color); 
    color: var(--primary-color);
}

.gui {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infobox {
background-color: var(--dark-color) ;
padding: 0.3em 1.2em 0.3em 1.2em;
position: relative;
bottom: -1em;
text-align: center;

}
#score {
color: var(--highlight-color);
font-size: 1.2em;
font-weight: 800;
text-transform: uppercase;
}
  canvas {
    /* overflow: scroll; */
    /* position: relative; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
  }
  

  .slidecontainer {
    width: 50%;
    text-align: center;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2em;
    border-radius: 3em;
    background: var(--highlight-color);
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 6vw;
  }
  
  .slider:hover {
    opacity: 1;
  }
 
  .slider::-webkit-slider-thumb:hover {
    width: 4em;
    height: 4em;
  }

  .slider::-moz-range-thumb:hover {
    width: 3.8em;
    height: 3.8em;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 3em;
    width: 2.8em;
    height: 2.8em;
    box-shadow: var(--dark-color) 2px 4px 3vw;
    background: var(--primary-color);
    cursor: pointer;
    transition: width, height 600ms ease-out ;
  }
  
  .slider::-moz-range-thumb {
    width: 2.8em;
    height: 2.8em;
    background: var(--primary-color);
    box-shadow: var(--dark-color) 2px 4px 3vw;
    transition: width,height 600ms ease-out ;
    cursor: pointer;
  }

  input {
    background: transparent;
    border: none;
    color: var(--white);
    font-size: 1em;
  }

  .result-box {
    width: 80%;
    padding: 3vw;
    background-color: var(--dark-color);
  }


  .slider-value {
    /* display: inline; */
    width: 2ch;
  }

  .slider-value-2 {
    /* display: inline; */
    width: 3ch;
  }


  @media screen and (max-width:720px) {
    .slidecontainer {
      width: 86%;
    }